/*tag*/
header {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr{
  width: 5%;
  border-style: none;
  border-top: 5px dotted #EAF6F6;
  margin: 75px auto 75px auto;
}

h1 {
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #66BFBF;
    line-height: 0.5;
    font-weight: bold;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: bold;
}

h3{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}

a {
  color: #11999E;
}

.skill-row
{
width: 50%;
margin:100px auto 100px auto;
text-align: left;
line-height: 2;
}

.chillies-img
{
width: 25%;
float: left;
margin-right: 30px;
}

.computer-img
{
width: 25%;
float: right;
margin-left: 30px;
}

.top-container
{
background-color: #EAF6F6;
position: relative;
}
.middle-container
{

}
.bottom-container
{

}
.cloud-top{
  position: relative;
  top: 100px;
  left: 350px;
}
.cloud-botom{
  position: absolute;
left: 200px;
}
.profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f
}
/*/padding-top: 100px;
    width: 30%;
    margin: auto;
    line-height: 2;
    color: #40514E;*/

.profile-img{
  width: 50%;
  height: 50%;
}
.rounded-circle {
    border-radius: 50% !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.text-white {
    color: #fff;
    text-decoration: none;
}